<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All CVEs (Last 5 days)</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <h1>All CVEs (Last 5 days)</h1>
    </header>
    <main>
        <table>
            <thead>
                <tr>
                    <th>CVE ID</th>
                    <th>Product</th>
                    <th>Description</th>
                    <th>Date Added</th>
                </tr>
            </thead>
            <tbody>
                {% for cve in cves %}
                    <tr>
                        <td>{{ cve.cveID }}</td>
                        <td>{{ cve.vendorProject }} {{ cve.product }}</td>
                        <td>{{ cve.shortDescription }}</td>
                        <td>{{ cve.dateAdded }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="/">Back</a>
    </main>
</body>
</html>
