<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CVE FastAPI</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <h1>CVE FastAPI</h1>
    </header>
    <main>
        <h2>Welcome !</h2>
        <p>Choose pages:</p>
        <ul>
            <li><a href="/info">Info</a></li>
            <li><a href="/get/all">All CVEs (Last 5 days)</a></li>
            <li><a href="/get/new">10 newest CVEs</a></li>
            <li><a href="/get/known">CVE Known Ransomware</a></li>
            <li><a href="/get">Search for keyword</a></li>
        </ul>
    </main>
</body>
</html>
