<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <h1>Info</h1>
    </header>
    <main>
        <h2>About application</h2>
        <p>Project: CVE FastAPI Application</p>
        <p>Version: 1.0.0</p>
        <p>Author: Dmytro Bilinskyi</p>
        <a href="/">Back</a>
    </main>
</body>
</html>
